* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}

/* ---- Nav Meny ---- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 10%;
}

.logo {
    font-style: italic;
    color:white ;
    font-size: 25px;
}
span {
    color: rgb(151, 18, 18) ;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
}

.btn_startsida {
    text-decoration: none;
}

button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.1);
}

/* ---- BODY ---- */

.wrapper-startsida {
    display: flex;
}

main {
    flex: 1;
}

.container {
    color: white;
    padding: 4rem;
    margin: 10%;
    margin-left: 20%;

}

.container h1 {
    font-size: 100px;
    font-weight: 600;
    line-height: 85PX;
    margin-bottom: 40px;
    margin-right: 120px;
}

.container p {
    font-size: 30px;
    font-style: italic;
    margin-left: 130px;

}

.container button {
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 30px;
    padding: 2rem;
    margin-left: 28%;
    font-size: 25px;
}

/* ---- links ---- */

.main_länks{
    max-width: 800px;
    margin: 2em;
    margin-top: 150px;
    margin-left: 570px;
    padding: 1rem;
    background: rgb(189, 182, 182);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    flex: 1;
    border: 1px solid #ccc;
}

.länks_btn{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.länks_btn:hover{
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul .links li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    background-color: #fafafa;
}


.favorite {
    border-left: 4px solid #f39c12;
    
}

li a {
    text-decoration: none;
    font-size: 3rem;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;

}

li a:hover{
    text-decoration: underline;
}

li div.action{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.link-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 4px;
}

.link-content {
    flex-grow: 1;
}

.link-content a {
    display: block;
    font-size: 1rem;
    color: wheat;
    text-decoration: none;
}

.link-content a:hover{
    text-decoration: underline;
}

.link-content p {
    margin: 0;
    font-size:0.9rem;
    color:#555;
}


.image-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.image-container img {
    flex: 1;

}

img {
    width: 500px;
    height: 300px;
    margin-left: 125px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

